
	<nav class="panel">
		<p class="panel-heading">Who to Follow</p>
		
					<% @users.each do |user| %>
					<%if user != current_user%>
					<article class="media">
					<div class="media-left">
						<figure class="image is-32x32">
							<%= gravatar_image_tag(user.email , alt: user.name) %>
						</figure>

							<p>
								<strong><%=user.name%></strong>
								<small>@<%=user.username%></small>
							</p>
							</article>
							<% end %>
							<% end %>
					</div>
				
	</nav>


